body{
  background: black;
}

#portfolio{
   padding-top: 0px !important;
}

.invalid-feedback{
    color: rgb(212, 142, 50) !important;
}

.top-bar{
    position: relative;
    display: inline-block;
    width:100%;
    z-index: 5;
    background: black;
    max-height: 85px;
}

.logo-container{
    text-align: center;
}

.logo-container img{
    width: 180px;
    height: 80px;
}

.auth-nav b{
    font-size: 30px;
    color: white;
}

.auth-nav{
    position: relative;
    top:-62px;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 80px;
    font-size: 20px;
    color: white;
 }
 
.desktop-nav{
    position: absolute;
    top: 30px;
    padding-left: 80px;
    font-size: 20px;
    z-index: 3;
 }

 .desktop-nav a{
    padding-right: 40px;
}

.white, .white:hover{
    color: white;
    text-decoration: none;
}

.yellow, .yellow:hover{
    color:yellow;
    text-decoration: none;
}

.btn-auth{
    background-color:yellow !important;
    color: black !important;
    font-size:25px !important;
    padding-bottom:43px;
    font-weight: bold !important;
}

.modal-body input{
    font-size:18px;
    font-weight: bolder;
}

.modal-body input::-webkit-input-placeholder { /* Edge */
    color: white;
}
  
.modal-body input:-ms-input-placeholder { /* Internet Explorer */
    color: white;
  }
  
.modal-body input::placeholder {
    color: white;
  }

.menu-icon{
    display: none;
}

.register-forgot{
    color: white !important;
}

.header-video{
    padding-top:71px;
}

nav{
    display:none;
}

.overlay-menu{
    z-index: 2;
}

.portfolio-item .thumb:hover{
    transform: scale(1.2) rotateZ(15deg);
    transition: .5s ease-in-out;
    z-index: 1;
    position:absolute;
}

.col-md-4{
    padding:5px !important;
}

@media (min-width: 992px){
.col-md-4 {
    width: 20%;
   }
}
.full-screen-portfolio .portfolio-item h1 {
    font-size: 14px;
}

@media (max-width: 950px) {
    .menu-icon{
        display: block;
    }

    nav{
        display: inline;
        z-index: 3;
        background: transparent;
    }

    .top-bar{
        z-index: 2;
    }

    .video-overlay{
        z-index: -1;
    }

    .desktop-nav, .auth-nav{
        display: none;
    }    
}

.header-featured p {
    font-family: 'Kanit', sans-serif;
    border-top: 2px solid yellow;
    font-weight: 900 !important;
    font-size: 1.8em !important;
    color: yellow !important;
    max-width: 350px !important;
}
                
.header-featured h6 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: white;
}
                
.header-featured h2 {
    font-weight: 800;
    font-size: 4em;
    min-width: 100px;
    color: white;
}