
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//box shadow

$box-shadow:  0 1px 15px 1px rgba(69,65,78,0.08);